.search-bar {
  margin: 1rem;
  width: 28rem;

  @mixin atSmallRotated {
    width: 54.8rem;
  }

  @mixin atMedium {
    width: 45rem;
  }

  @mixin atLarge{
    width: 85rem;
  }

  & input {
    width: 100%;
    font-family: 'Cabin', sans-serif;
    border: 4px solid $border;
    border-radius: 4px;
    outline: none;
    padding: 0 1rem;
    height: 3rem;
   
    box-shadow: 0 1px 4px rgba($shadowColour, 0.7), 0 0 40px rgba($shadowColour, 0.1) inset; 
    color: $fontColour;
    
  }

  & input:focus {
    border: 2px solid #869960;
    /*Create inside shadow for the text field in focus. 2px horizontal and vertical offset and 2px blur*/
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .10);
  }
}




