.video-list-item {
  border: 4px solid $fontColour;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  background-color: $videoItems;
  color: $fontColour;
  box-shadow: 0 1px 4px rgba($shadowColour, 0.7), 0 0 40px rgba($shadowColour, 0.1) inset; 
  width: 28rem;

  @mixin atSmallRotated {
    width: 26.8rem;
    display: inline-flex;
    margin-bottom: 0.22rem;
  }

  @mixin atMedium {
    width: 27rem;
    display: block;
    margin-bottom: 1rem;
  }

  @mixin atLarge {
    width: 31rem;
  }

  &:hover {
    background-color: $description;
  }

  &__image {
    float: left;
    padding: 0.5rem;

    @mixin atMedium {
      width: 13rem;
      padding: 1rem;
      margin-right: 5px;      
    }
  }
  
  &__title {
    padding: 0.5rem;
    
    @mixin atMedium {
      padding: 1rem;
    }
  }
}






