.video-detail {
  margin: 1rem;
  
  @mixin atMedium {
    margin: 1rem;
    width: 45rem;
    float: left;
  }

  @mixin atLarge {
    width: 85rem;

  }

  &__viewer {
    box-shadow: 0 1px 4px rgba($shadowColour, 0.7), 0 0 40px rgba($shadowColour, 0.1) inset; 

    border: 4px solid $border;
    border-radius: 4px;

    @mixin atSmallRotated {
      height: 24rem;
     }

    @mixin atMedium {
      height: 35rem;
     }
  }

  &__video {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  &__desc {
    margin-top: 1rem;
    border: 4px solid $border;
    border-radius: 4px;
    padding: 0.5rem;
    height: 12rem;
    color: $fontColour;
    background-color: rgba($videoItems, 1);
    box-shadow: 0 1px 4px rgba($shadowColour, 0.7), 0 0 40px rgba($shadowColour, 0.1) inset; 
  }
  
  
}


      