.video-list-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  background-color: white;
  box-shadow: 0 1px 4px rgba($shadowColour, 0.7), 0 0 40px rgba($shadowColour, 0.1) inset; 
  width: 28rem;

  @mixin atMedium {
    width: 27rem;
  }

  @mixin atLarge {
    width: 31rem;
  }

  &:hover {
    background-color: #eee;
  }

  &__image {
    float: left;
    padding: 0.5rem;

    @mixin atMedium {
      width: 13rem;
      padding: 1rem;
      margin-right: 5px;
      
    }
  }
  
  &__title {
    padding: 0.5rem;
    
    @mixin atMedium {
      
      padding: 1rem;
      
    }
  }
}






