.video-list {
  margin: 1rem;
  float: left;

  @mixin atMedium {
    margin: 1rem;
    width: 27.5rem;
    position: relative;
    top: -5rem;
  }

  @mixin atLarge {
    margin: 1rem;
    width: 27.5rem;
    position: relative;
    top: -5rem;
  }

  & ul {
    margin: 0;
    padding: 0;
  }
  
  & li {
    list-style: none;
  }

}



